name: Verify changes

on: pull_request

jobs:
  verify:
    name: Verify changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [
            lit-element,
            lit-element-ts-esbuild,
            lit-element-ts-tsc,
            html-test,
            preact-htm,
            preact-jsx,
            preact-tsx,
            puppeteer,
            playwright,
            import-maps,
            mock-es-module,
            visual-regression,
            saucelabs,
            guides/test-runner-getting-started,
            guides/test-runner-watch-and-debug,
            # Running multiple playwright does not work?
            # guides/test-runner-playwright,
            guides/test-runner-responsive,
            guides/test-runner-typescript,
            guides/test-runner-writing-plugins,
            react-htm,
            react-jsx,
            react-tsx
          ]
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - uses: microsoft/playwright-github-action@v1

      - name: Install dependencies
        working-directory: ${{ matrix.project }}
        run: npm ci

      - name: Test
        working-directory: ${{ matrix.project }}
        run: npm run test
        env:
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
